.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  
  @keyframes hinge {
    0% {
      transform: rotate(0);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
    20%, 60% {
      transform: rotate(80deg);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
    40% {
      transform: rotate(60deg);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
    80% {
      transform: rotate(60deg) translateY(0);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
    100% {
      transform: translateY(700px);
    }
  }
  .hinge {
    margin: 20px;
    animation-name: hinge;
  }
  
  .no-fount {
    background: linear-gradient(#3498DB, #655560);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 100px);
  }
  
  .no-fount__error {
    color: white;
    font-size: 1000%;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
  }
  
  .no-fount p {
    color: white;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
  }